body
{
  color: white;
  background: url("download.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Comforter', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;

}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  background-color: rgb(197, 197, 197);
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(232, 222, 222);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}


.heading{
letter-spacing: 13px;
font-size: 14px;
border-radius: 10px;
background-color: rgb(5, 31, 136);
width: 50%;
}

label{
font-size: 16px;
color: rgb(152, 209, 164);
background-color: #54394d;
padding: 9px;
border-radius: 10px;
letter-spacing: 2px;
}

button{
background-color: rgb(74, 74, 169);
border-radius: 20px;
height: 50px;
width: 300px;
font-size: 17px;
}

p:hover{
background-color: rgb(8, 176, 120);
border-radius: 30px;
}

